Advanced_Windows_Lessons__Part_3__18_10_2018/14_WebService/14_03_Using_PlusMinus_Fraction/App_WebReferences/localhost/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="plus_minus">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="A" type="tns:Fraction" />
            <s:element minOccurs="0" maxOccurs="1" name="B" type="tns:Fraction" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Fraction">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="num" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="denom" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="plus_minusResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="plus_minusResult" type="tns:ArrayOfFraction" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfFraction">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Fraction" nillable="true" type="tns:Fraction" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="plus_minusSoapIn">
    <wsdl:part name="parameters" element="tns:plus_minus" />
  </wsdl:message>
  <wsdl:message name="plus_minusSoapOut">
    <wsdl:part name="parameters" element="tns:plus_minusResponse" />
  </wsdl:message>
  <wsdl:portType name="ServiceSoap">
    <wsdl:operation name="plus_minus">
      <wsdl:input message="tns:plus_minusSoapIn" />
      <wsdl:output message="tns:plus_minusSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceSoap" type="tns:ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="plus_minus">
      <soap:operation soapAction="http://tempuri.org/plus_minus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceSoap12" type="tns:ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="plus_minus">
      <soap12:operation soapAction="http://tempuri.org/plus_minus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="ServiceSoap" binding="tns:ServiceSoap">
      <soap:address location="http://localhost:50756/PlusMinus_Fraction_WebService/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceSoap12" binding="tns:ServiceSoap12">
      <soap12:address location="http://localhost:50756/PlusMinus_Fraction_WebService/Service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>